/* Customizations for web2py */
.w2p_fl {
    float: left;
}

.w2p_fw {
    margin-bottom: 20px;
    margin-left: 150px;
}

.w2p_fw img {
    margin: 20px 20%;
}

.w2p_fw input {
    height: 30px;
    padding-left: 5px;
}

.w2p_fw input, .w2p_fw textarea {
  width: 70%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#submit_record__row .w2p_fw input {
  background: #edeeed url("theme/activo/images/icons/tick.png") left no-repeat;
  width: 150px;
  background-position-x: 10px;
  margin-top: 10px;
  border: 1px solid #c3c4ba;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
}

input {
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  padding:5px;
  border-left:1px solid #e2e3ea;
  border-top:1px solid #abadb3;
  border-bottom:1px solid #e3e9ef;
  border-right:1px solid #dbdfe6;
}

input#search {
    padding-top: 0px;
    padding-bottom: 0px;
}


.login .w2p_fw input {
    width: 100%;
}

.login table {
    border-spacing: 10px;
}

.inner div.value {
    margin-left: 150px;
}

.inner div.label, form .field > label, form .field > .field_with_errors > label, .w2p_fl {
    overflow: auto;
    font-size: 13px;
}

.inner {
    overflow-x: auto;
}
